# Read Json

In [4]:
from pandas import *

df= read_json(r"cars_data.json")   #Read json file
df

                                                cars
0  {'Name': 'Honda', 'Price': 10000, 'Model': 200...
1  {'Name': 'Toyota', 'Price': 12000, 'Model': 20...
2  {'Name': 'Audi', 'Price': 25000, 'Model': 2017...
3  {'Name': 'Ford', 'Price': 28000, 'Model': 2009...

In [6]:
print(df.to_string())    #To print the entire data

                                                               cars
0   {'Name': 'Honda', 'Price': 10000, 'Model': 2005, 'Power': 1300}
1  {'Name': 'Toyota', 'Price': 12000, 'Model': 2010, 'Power': 1600}
2    {'Name': 'Audi', 'Price': 25000, 'Model': 2017, 'Power': 1800}
3    {'Name': 'Ford', 'Price': 28000, 'Model': 2009, 'Power': 1200}

# Directory as Json

In [15]:
#If your JSON code is not in a file, but in a Python Dictionary, you can load it into a DataFrame directly
cars =  {
     "Name" : {
         "0" : "Honda",
         "1" : "Toyota",
         "2" : "Audi",
         "3" : "Ford"
     },
     "Price" : {
         "0" : 10000,
         "1" : 12000,
         "2" : 25000,
         "3" : 28000
     },
       "Model" : {
         "0" : 2005,
         "1" : 2010,
         "2" : 2017,
         "3" : 2009
     }, 
     "Power" : {
         "0" : 1300,
         "1" : 1600,
         "2" : 1800,
         "3" : 1200
     },
}
    
df= DataFrame(cars)
df

     Name  Price  Model  Power
0   Honda  10000   2005   1300
1  Toyota  12000   2010   1600
2    Audi  25000   2017   1800
3    Ford  28000   2009   1200

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    4 non-null      object
 1   Price   4 non-null      int64
 2   Model   4 non-null      int64
 3   Power   4 non-null      int64
dtypes: int64(3), object(1)
memory usage: 160.0+ bytes