# Series in pandas

In [8]:
from pandas import *
animals= Series(["dog","cat","elephant","horse"], index=[101,102,103,104])
animals

101         dog
102         cat
103    elephant
104       horse
dtype: object

In [9]:
animals.loc[103]

'elephant'

In [10]:
animals.iloc[2]

'elephant'

In [26]:
#Create a simple pandas series from a list

from pandas import *

data= Series([1,2,-4,5,-6])

data

0    1
1    2
2   -4
3    5
4   -6
dtype: int64

In [29]:
print(data.values)  # with or without print function

data.values  #Print the values of series only

[ 1  2 -4  5 -6]

array([ 1,  2, -4,  5, -6], dtype=int64)

In [31]:
data.index   # print the index of the values in series

RangeIndex(start=0, stop=5, step=1)

In [32]:
data[1]   #return the 2nd value of the series

2

In [33]:
#Create Labels

data= Series([1,2,-4,5,-6], index=["a","b","c","d","e"])
data

a    1
b    2
c   -4
d    5
e   -6
dtype: int64

# Key-Value objects as series

In [34]:
#Create a series using key-value pairs

data= {"Mohan":1, "Ram": 2, "Shyam":3,"Gagan":4}

Series(data)

Mohan    1
Ram      2
Shyam    3
Gagan    4
dtype: int64

In [36]:
#Create a series using only data from Mohan and Gagan

print(Series(data, index=["Mohan", "Gagan"]))

Mohan    1
Gagan    4
dtype: int64